<div class="static-container">
  <div class="static-container-title title">
    <h3 class="static-container-title-h3 h3">Sobre mi</h3>
  </div>

  <div class="static-container-body">
    <p>
      Hola! Me llamo <strong>Vicente Rodríguez</strong> y esta es mi pagina web donde comparto tutoriales de lo que voy aprendiendo.
    </p>
    <p>
      Inicie esta pagina porque enseñar es una excelente forma de aprender y también porque se que hay pocos lugares donde se hable sobre temas de <strong>programación</strong> y web en español.
    </p>
    <p>
      Me encanta programar es mi pasatiempo favorito, lo hago prácticamente todo el día, también me gusta la astronomía, no saber que hay afuera de este planeta es intrigante.
    </p>
    <p>
      Siempre he pensado que todos podemos cambiar al mundo si lo quisiéramos y es justo lo que necesitamos, poco a poco se puede lograr.
    </p>
    <p>
      Esta pagina esta hecha con <strong>ruby on rails</strong> y opte por este framework porque wordpress me parece que no presenta reto para crear un blog ademas de que no lo conozco mucho, podría liarla muy feo, una herramienta muy util que me encanta es <a href="https://wappalyzer.com/download">wappalyzer</a>. <br>
      Sirve para ver de que framework o lenguaje de programacion estan hechas las paginas. Es divertido investigar un poco con este plugin que puedes instalar en chrome o firefox.
    </p>
    <p>
      Si necesitas algún tipo de ayuda puedes preguntar en mi <a href="https://twitter.com/vincent1bt">twitter</a> y con gusto te ayudare.
    </p>
    <p>Las tecnologias que domino son:</p>
    <ul>
      <li>Ruby (rails, ruby puro)</li>
      <li>Swift</li>
      <li>Javascript, (react, redux, jquery, node)</li>
      <li>Go</li>
      <li>Git, (github)</li>
      <li>Html, (css, sass, responsive design)</li>
      <li>postgresql, mysql</li>
      <li>Linux, (servidores, nginx)</li>
    </ul>
  </div>

  <div class="static-container-subtitle title">
    <h3 class="static-container-subtitle-h3 h3">Mis proyectos</h3>
  </div>

  <div class="static-container-body">
    <h4 class="static-container-body-h4">
      Wake me up app
    </h4>
    <div class="static-container-body-img">
      <img src="http://res.cloudinary.com/vincent1bt/image/upload/v1467842308/wakemeup2_gvy7sl.gif" alt="wakemeup Demo">
    </div>
    <p>
      App de iOS hecha en <strong>swift</strong>. Te muestra las ultimas noticias y tus utimos tweets,
      puedes agregar recordatorios, ver el clima y buscar lugares cerca para desayunar.
    </p>
    <a href="https://github.com/vincent1bt/wake-me-up-2" target="_blank">Link al repositiorio de github.</a>
  </div>

  <div class="static-container-body">
    <h4 class="static-container-body-h4">
      Twitter search
    </h4>
    <div class="static-container-body-img">
      <img src="http://res.cloudinary.com/vincent1bt/image/upload/v1462492838/ezgif.com-video-to-gif_1_suk0z4.gif" alt="twitter Demo">
    </div>
    <p>
      App de iOS hecha en <strong>swift</strong>. Puedes buscar la ubicación de los tweets de un usuario en particular
      que tenga activada la opción.
    </p>
    <a href="https://github.com/vincent1bt/searchTwitter" target="_blank">Link al repositiorio de github.</a>
  </div>

  <div class="static-container-body">
    <h4 class="static-container-body-h4">
      Calendar App
    </h4>
    <a href="https://arcane-castle-68306.herokuapp.com">Link a la página</a>
    <p>
      App hecha con <strong>go</strong> en el backend y con <strong>react y redux</strong> en el front-end. Puedes ver los eventos proximos en un calendario y agregar recordatorios.
    </p>
    <a href="https://github.com/vincent1bt/calendar-app" target="_blank">Link al repositiorio de github.</a>
  </div>

  <div class="static-container-body">
    <h4 class="static-container-body-h4">
      News App
    </h4>
    <div class="static-container-body-img">
      <img src="http://res.cloudinary.com/vincent1bt/image/upload/v1462570588/newsApp_c6twv6.gif" alt="twitter Demo">
    </div>
    <p>
      App para iOS, hecha en <strong>swift</strong> donde puedes buscar noticias en twitter o the new york times.
    </p>
    <a href="https://github.com/vincent1bt/news-app" target="_blank">Link al repositiorio de github.</a>
  </div>

  <div class="static-container-body">
    <h4 class="static-container-body-h4">
      vsLol
    </h4>
    <a href="https://vincent1bt.github.io/vsLol/" target="_blank">Link a la página</a>
    <p>
      App hecha con <strong>javascript</strong> puro, sirve para comparar dos cuentas del juego league of legends,
      usa la api de riot y la unica libreria que usa es axios, posiblemente pase la app a react.
    </p>
    <a href="https://github.com/vincent1bt/vsLol" target="_blank">Link al repositiorio de github.</a>
  </div>

</div>
