<div class="static-container">
  <div class="static-container-title">
    <h3 class="static-container-title-h3">Sobre mi</h3>
  </div>
  
  <div class="static-container-body">

    <p>
      Hola! Me llamo <strong>Vicente Rodríguez</strong> y esta es mi pagina web donde comparto tutoriales de lo que voy aprendiendo.
    </p>
    <p>
      Inicie esta pagina porque enseñar es una excelente forma de aprender y también porque se que hay pocos lugares donde se hable sobre temas de <strong>programación</strong> y web en español.
    </p>
    <p>
      Vivo en <strong>México</strong>, me encanta programar es mi pasatiempo favorito, lo hago prácticamente todo el día, también me gusta la astronomía, no saber que hay afuera de este planeta es intrigante.
    </p>

    <p>
      Siempre he pensado que todos podemos cambiar al mundo si lo quisiéramos y es justo lo que necesitamos, poco a poco se puede lograr.
    </p>

    <p>
      Esta pagina esta hecha con <strong>ruby on rails</strong> y opte por este framework porque wordpress me parece que no presenta reto para crear un blog ademas de que no lo conozco mucho, podría liarla muy feo, una herramienta muy util que me encanta es <a href="https://wappalyzer.com/download">wappalyzer</a>. <br>
      Sirve para ver de que framework o lenguaje de programacion estan hechas las paginas. Es divertido investigar un poco con este plugin que puedes instalar en chrome o firefox.
    </p>

    <p>
      Si necesitas algún tipo de ayuda puedes preguntar en mi <a href="https://twitter.com/vincent1bt">twitter</a> y con gusto te ayudare, las tecnologías que trabajo son ruby, rails, javascript, react, node, css, sass, postgresql, mysql, redis y un poco de swift pero puedes preguntarme sobre cualquier cosa e intentaremos resolverlo.
    </p>

  </div>
</div>