@import 'sublime'

$barkBlue: rgba(44, 62, 80,1.0)
$gray: rgba(127, 140, 141,1.0)

.post-container
  background: #F2F2F2
  border-radius: 5px
  border: 1px solid rgba(189, 195, 199,1.0)
  margin-top: 94px
  width: 98%
  @media (min-width: 700px)
    margin-top: 110px
  @media (min-width: 1200px)
    width: 55%
    padding: 20px

  &-header

    &-time
      text-align: center
      color: $gray

    &-title
      text-align: center
      color: $barkBlue

  &-body
    //border: solid 1px
    margin-top: 30px 
    padding: 0 10px

  &-categories
    border-top: solid 1px $gray
    margin-top: 30px
    margin-bottom: 30px

    &-list
      //border: solid 1px

      &-item
        //border: solid 1px
        display: inline-block
        background: $barkBlue
        color: white
        padding: 5px
        border-radius: 5px
        margin-left: 5px
        margin-top: 5px

        &-link
          //text-decoration: none
          color: white

  &-footer
    //border: solid 1px blue
    &-h4
      padding: 5px 5px