@import 'sublime'
$gray: rgba(127, 140, 141,1.0)
$white: #ECF0F1
$naranja3: #D35400
$naranja2: #E67E22
$naranja1: #F39C12
$black: #313338
$green: rgb(46, 204, 113)
$gray: #585A63//4F5159

$darkBlue: #093255

.post-container
  background: white //#F2F2F2
  border-radius: 5px
  margin-top: 50px
  width: 100%
  overflow: hidden
  max-width: 1300px

  @media (min-width: 700px)
    margin-top: 110px

  @media (min-width: 1200px)
    width: 65%
    border: 0px
    padding: 0 20px 20px 20px
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75)

  &-header
    height: 450px
    background-size: cover !important
    background-position: center !important
    background-repeat: no-repeat !important

    .back-filter
      width: 100%
      height: 100%
      background: rgba(0,0,0,0.5)

      @media (min-width: 1200px)
        padding: 0 20px
        margin-left: -20px

    @media (min-width: 1200px)
      padding: 0 20px
      margin-left: -20px
      width: 100%

    &-time
      text-align: center
      color: $white
      font-weight: bold
      padding-top: 135px !important
      margin: 0

    &-title
      text-align: center
      color: white

  &-body
    //border: solid 1px
    margin-top: 30px
    padding: 0 10px
    font-size: 1.2em
    letter-spacing: 0.5px
    line-height: 1.625
    color: #425252

    pre
      @media (min-width: 1200px)
        margin-left: -30px !important
        margin-right: -30px !important
        padding: 0 !important

    code
      border-radius: 0
      padding: 20px 15px !important

      @media (min-width: 1200px)
        border-radius: 0
        padding: 35px !important

    .checkbox-div
      width: 100%
      height: 25px
      background: rgba(230, 126, 34,1.0)
      margin: 30px 0
      padding: 10px 0
      border-radius: 5px
      color: white

      p
        padding: 0 20px
        margin: -3px 0

        input
          height: 15px


  &-categories
    border-top: solid 1px $gray
    margin-top: 30px
    margin-bottom: 30px

    &-list
      //border: solid 1px

      &-item
        //border: solid 1px
        display: inline-block
        background: $darkBlue
        color: white
        padding: 5px
        border-radius: 5px
        margin-left: 5px
        margin-top: 5px

        &-link
          //text-decoration: none
          color: white

  &-footer
    //border: solid 1px blue
    .fb-like
      margin: 0 5px 30px 5px

    &-h4
      padding: 5px 5px
