$naranja3: #D35400
$naranja2: #E67E22
$naranja1: #F39C12
$darkBlue: #093255
$white: #ECF0F1

.new-container
  background: $white
  border-radius: 5px
  border: 1px solid rgba(189, 195, 199,1.0)
  margin-top: 94px
  width: 98%

  @media (min-width: 700px)
    margin-top: 110px
    padding: 15px
    width: 75%

  @media (min-width: 1200px)
    border: 0
    padding: 20px
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75)

  &-title
    color: rgba(44, 62, 80,1.0)
    text-align: center
    font-size: 2em

  &-form
    width: 100%

    #data:after
      content: attr(data-after)
      color: rgba(52, 152, 219,1.0)

    &-title
      text-align: center

      input[type="text"]
        height: 25px
        padding: 10px
        width: 90%
        border: 0
        border-radius: 5px
        border-bottom: 2px solid $darkBlue
        margin-bottom: 30px
        font-size: 1.3em

        @media (min-width: 1200px)
          width: 65%

        &:focus
          outline: none

      textarea
        height: 125px
        padding: 5px
        width: 95%
        border: 0
        border-radius: 5px
        border-bottom: 2px solid $darkBlue
        margin-bottom: 30px
        font-size: 1.3em

        &:focus
          outline: none

    &-body
      height: 600px
      width: 100%

      &-epiceditor
        height: 600px
        width: 100%

        iframe
          width: 100% !important
          max-width: 100% !important

    &-categorias
      margin: 30px auto
      width: 95%


      &-parr
        text-align: center
        font-size: 1.5em

      &-list
        padding-left: 0
        display: flex
        flex-wrap: wrap
        justify-content: space-around

        &-item
          list-style-type: none
          font-size: 1.2em
          width: 49%
          text-align: left

          @media (min-width: 700px)
            width: 33%

    &-but
      height: 80px
      text-align: center
      margin-top: 30px

      input[type="submit"]
        font-size: 1.4em
        height: 55px
        width: 125px
        color: white
        border-radius: 5px
        border: 0px
        border-bottom: solid 6px $naranja3
        cursor: pointer
        background: $naranja2
