<%= title %>
<%= form_for(@post, html: { id: "posts_form"}) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :body %>
  <%= f.hidden_field :body, id: "body-textarea" %>
  <%= f.hidden_field :markup_body, id: "markup-body-textarea" %>
  <div id="epiceditor">
  	
  </div>
  <%= f.submit %>
 <% end %>


 <script>
 	var editor = new EpicEditor({
 		textarea: "markup-body-textarea",
 		file: {
 			name: "new_post"
 		}
 	});

 	editor.load();
 	$("#posts_form").on("submit", function(){
 		$("#body-textarea").val(editor.exportFile("new_post", "html"));
 		$("#markup-body-textarea").val(editor.exportFile("new_post"));
 	});

 </script>