<div class="posts-container">
  <div class="posts-container-title">
    <h1 class="posts-container-title-h1">Vicente Rodríguez blog</h1>
    <strong class="posts-container-title-strong"><i>Programación, desarollo web y más.</i></strong>
  </div>
  
  <div class="posts-container-body">
    <ul class="posts-container-body-list">
      <% @posts.each do |post| %>
        <li class="posts-container-body-list-item">
          <h2 class="posts-container-body-list-item-parr">
            <%= link_to post, data: { no_turbolink: true }, class: "posts-container-body-list-item-link" do %>
              <%= post.title.capitalize %>
            <% end %>
          </h2>
          <p class="posts-container-body-list-item-time"><%= post.created_at.strftime("%d %b. %Y") %></p>
        </li>
       <% end %>
    <ul>
  </div>
</div>