<% content_for(:title, "Vicente Rodríguez Blog - Categorias")%>
<div class="categories-container">
  <div class="categories-container-title">
    <h3 class="categories-container-title-h3">Categorias</h3>
  </div>
  
  <div class="categories-container-text">
    <ul class="categories-container-text-list">
      <% @categories.each do |category| %>
        <li class="categories-container-text-list-item">
          <%= link_to category, class: "categories-container-text-list-item-link" do %>
            <p class="categories-container-text-list-item-parr"><%= category.name.capitalize %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>