$barkBlue: rgba(44, 62, 80,1.0)
$gray: rgba(127, 140, 141,1.0)

$white: #ECF0F1
$naranja3: #D35400
$naranja2: #E67E22
$naranja1: #F39C12
$black: #313338

.footer
  border-top: solid 0.8px
  position: fixed
  height: 47px
  padding-top: 5px
  bottom: 0
  width: 100%
  z-index: 1000
  background: rgba(236, 240, 241,0.98)

  @media (min-width: 1200px)
    display: none

  @media (max-width: 700px) and (orientation: landscape)
    position: relative
  
  &-container
    //border: solid 1px red
    width: 100%
    height: 100%
    //border-top: solid 1px $gray

    &-list
      display: flex
      justify-content: space-around
      height: 100%

      &-item
        list-style-type: none
        height: 100%
        width: 25%
        //border: solid 1px
        text-align: center

        &-link
          width: 100%
          height: 100%
          text-decoration: none
          color: $black
          //border: solid 1px
          
          i
            //border: solid 1px
            height: 50%
            width: 100%
            color: $naranja2

            &::before
              height: 100%

          p
            width: 100%
            height: 50%
            margin: 0
            font-size: 12px
            color: $black
            font-weight: bold



          
