@import "nav"
@import "categories"
@import "footer"
@import "posts"
@import "reset"
@import 'normalize'

body
  margin: 0
  font-family: helvetica
  background: #ebebeb

.container
  height: auto
  display: flex
  justify-content: space-around
  position: relative

.alerts-container
  height: 50px
  margin-top: 25px
  margin-bottom: 20px
  &-alert
    text-align:center
    color: white
    background: rgba(192, 57, 43,1.0)
    &-parr
      padding: 10px
      margin: 0
      font-size: 1.6em
  &-notice
    background: rgba(41, 128, 185,1.0)
    color: white
    text-align: center
    &-parr
      padding: 10px
      font-size: 1.6em
      margin: 0