@import "nav"
@import "categories"
@import "footer"
@import "posts"
@import 'static'
@import "reset"
@import 'normalize'

$morado3: #2E112D
$morado2: #540032
$morado1: #820333
$rojo: #C9283E
$naranja: #F0433A
$black: #313338
$white: #ECF0F1
$darkBlue: #093255
//#ebebeb old

body
  margin: 0
  font-family: helvetica
  background: $white
  //background: white
.extendMenu
  background: #313338
  position: fixed
  width: 100%
  height: 0px

  @media (min-width: 1200px)
    height: 250px


.container
  height: auto
  display: flex
  justify-content: space-around
  position: relative
  margin-bottom: 60px

.alerts-container
  height: 100px
  top: 80px
  position: relative
  margin: 0 auto
  width: 100%
  z-index: 10000

  @media (min-width: 1200px)
    width: 55%
    margin: 0 auto

  &-alert
    text-align:center
    color: white
    background: rgba(192, 57, 43,1.0)
    height: 50px

    &-parr
      padding: 10px
      margin: 0
      font-size: 1.6em

  &-notice
    background: rgba(41, 128, 185,1.0)
    color: white
    text-align: center
    height: 50px

    &-parr
      padding: 10px
      font-size: 1.6em
      margin: 0
