$black: #212121
$goodBlack: #222222
$barkBlue: rgba(44, 62, 80,1.0)
$blue: rgba(52, 152, 219,1.0)

.nav
  height: 55px
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 10
  line-height: 55px
  background: rgba(41, 128, 185,1.0)
  color: white

  @media (max-width: 700px) and (orientation: landscape)
    position: relative

  @media (min-width: 1200px)
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    height: 80px
    line-height: 80px
  
  &-mobile
    display: flex
    justify-content: space-between
    
    &-title
      margin-left: 1rem

      @media (min-width: 700px)
        margin-left: 2rem

    &-button
      margin-right: 1rem
      border: 0
      padding: 0
      background: rgba(41, 128, 185,1.0)
      color: white

      @media (min-width: 1200px)
        display: none

      &:focus
        outline: none

  &-container
    //border: solid 1px
    background: $barkBlue

    @media (min-width: 1200px)
      background:  rgba(41, 128, 185,1.0)

    &-list
      overflow: hidden
      height: 0
      transition: height 0.3s ease

      @media (min-width: 1200px)
        height: 80px

      &--show
        height: auto

      &-item:last-child
        border-bottom: 1px solid

      &-item:nth-child(-n+3)
        display: none

      &-item
        border-top: 1px solid

        @media (min-width: 1200px)
          display: inline-block
          border-top: 0px solid

          &:hover
            text-decoration: underline
          &:nth-child(-n+3)
            display: inline-block
            
        
        // @media (min-width: 700px)
        //   display: inline-block

        &-link
          text-decoration: none
          color: white
          padding: 0 1rem
          width: 100%
          display: block