$barkBlue: rgba(44, 62, 80,1.0)

$black: #313338

$white: #ECF0F1
$naranja3: #D35400
$naranja2: #E67E22
$naranja1: #F39C12


.nav
  height: 55px
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 10
  line-height: 55px
  background: $black
  color: $naranja1

  &_block
    display: flex
    justify-content: space-around

  @media (max-width: 700px) and (orientation: landscape)
    position: relative

  @media (min-width: 1200px)
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    height: 70px
    line-height: 70px
  
  &-mobile
    display: flex
    justify-content: space-between
    
    &-logo
      border: 0
      width: 42px
      height: 32px
      margin-left: 1rem
      margin-top: 11.5px

      @media (min-width: 1200px)
        border: 0
        width: 42px
        height: 32px
        margin-right: -15px
        margin-top: 19px

    &-title
      margin-left: 1rem
      text-align: left

      @media (min-width: 700px)
        margin-left: 2rem

    &-button
      margin-right: 1rem
      border: 0
      padding: 0
      background: $black
      color: white

      @media (min-width: 1200px)
        display: none

      &:focus
        outline: none

  &-container
    //border: solid 1px
    background: $black

    @media (min-width: 1200px)
      background: $black

    &-list
      overflow: hidden
      height: 0
      transition: height 0.3s ease

      @media (min-width: 1200px)
        height: 70px

      &--show
        height: auto

      &-item:last-child
        border-bottom: 1px solid

      &-item:nth-child(-n+3)
        display: none

      &-item
        border-top: 1px solid

        @media (min-width: 1200px)
          display: inline-block
          border-top: solid 4px $black

          &:hover
            border-top: solid 4px $naranja1

          &:nth-child(-n+3)
            display: inline-block
            
        
        // @media (min-width: 700px)
        //   display: inline-block

        &-link
          text-decoration: none
          color: white
          padding: 0 1rem
          margin-top: -4px
          width: 100%
          display: block

