$black: #212121
$barkBlue: rgba(44, 62, 80,1.0)
$gray: rgba(127, 140, 141,1.0)

.posts-container
  background: #F2F2F2
  border-radius: 5px
  border: 1px solid rgba(189, 195, 199,1.0)
  margin-top: 94px
  width: 98%
  @media (min-width: 700px)
    margin-top: 110px
    width: 75%
  @media (min-width: 1200px)
    width: 55%
  &-title
    //border: solid 1px
    color: $barkBlue

    &-h3
      text-align: center
      margin: 15px 15px
      font-size: 2.5em

  &-body
    //border: solid 1px

    &-list
      list-style-type: none

      &-item
        &:last-of-type
          border-bottom: 0

        padding: 0 0
        margin-bottom: 10px
        border-bottom: 1px solid $gray

        &-link
          text-decoration: none
        
        &-parr
          color: rgba(127, 140, 141,1.0)
          font-weight: 700
          font-size: 1.3em
          margin: 0
          padding: 10px
          margin: 0
          border-left: 6px solid rgba(52, 152, 219,1.0)
          transition: background 0.3s ease-in

          &:hover
            //background: rgba(52, 152, 219,1.0)
            color: rgba(52, 152, 219,1.0)

          &:active
            background: rgba(52, 152, 219,1.0)
            color: white

        &-time
          color: $barkBlue
          padding: 10px
          margin: 0 0 0 16px