$white: #ECF0F1
$naranja3: #D35400
$naranja2: #E67E22
$naranja1: #F39C12
$black: #313338
$green: #598F27
$gray: #585A63//4F5159

.static-container
  background: #F2F2F2
  border-radius: 5px
  border: 1px solid $naranja1//rgba(189, 195, 199,1.0)
  margin-top: 94px
  width: 98%

  @media (min-width: 700px)
    margin-top: 110px
    width: 75%

  @media (min-width: 1200px)
    width: 55%

  &-title
    //border: solid 1px
    color: $black

    &-h3
      text-align: center
      margin: 15px 15px
      font-size: 2.5em

  &-body
    //border: solid 1px
    padding: 20px
    font-size: 18px
    letter-spacing: 0.5px
    line-height: 25px

    a
      color: $naranja2
