<footer class="footer">
  <section class="footer-container">
    <ul class="footer-container-list">
      <li class="footer-container-list-item">
        <a href="https://github.com/vincent1bt" target="blank" class="footer-container-list-item-link">
          <%= image_tag "git2.png", class: "footer-container-list-item-link-image" %> Github
        </a>
      </li>
      <li class="footer-container-list-item">
        <a href="https://twitter.com/vincent1bt" target="blank" class="footer-container-list-item-link">
          <%= image_tag "tw.png", class: "footer-container-list-item-link-image" %> Twitter
        </a>
      </li>
    </ul>
  </section>
</footer>