<footer class="footer">
  <section class="footer-container">
    <ul class="footer-container-list">
      <li class="footer-container-list-item">
        <a href="https://github.com/vincent1bt" target="blank" class="footer-container-list-item-link">
          <i class="fa fa-github-square fa-lg"> Github</i>
        </a>
      </li>
      <li class="footer-container-list-item">
        <a href="https://twitter.com/vincent1bt" target="blank" class="footer-container-list-item-link">
          <i class="fa fa-twitter-square fa-lg"> Twitter</i>
        </a>
      </li>
    </ul>
  </section>
</footer>