<header class="nav" data-turbolinks-permanent>
  <div class="nav-mobile">
      <h3 class="nav-mobile-title">Vicente Rodríguez</h3>
      <button class="nav-mobile-button" id="navBtn">
        <i class="fa fa-bars fa-lg"></i>
      </button>
  </div>
  <nav class="nav-container">
    <ul class="nav-container-list" id="listMenu">
    	<li class="nav-container-list-item">
    	  <%= link_to "Posts", posts_path, class: "nav-container-list-item-link" %>
    	</li>
    	<li class="nav-container-list-item">
    	  <%= link_to "Categorias", categories_path, class: "nav-container-list-item-link" %>
    	</li>
    	<li class="nav-container-list-item">
    	  <%= link_to "Sobre", sobre_path, class: "nav-container-list-item-link" %>
    	</li>
      <li class="nav-container-list-item">
        <a href="https://twitter.com/vincent1bt" target="blank" class="nav-container-list-item-link">    Twitter
        </a>
      </li>
      <li class="nav-container-list-item">
        <a href="https://github.com/vincent1bt" target="blank" class="nav-container-list-item-link">    Github
        </a>
      </li>
    	  <% if logged_in? %>
          <li class="nav-container-list-item">
            <%= link_to @current_user.username, admin_dashboard_index_url, data: { no_turbolink: true }, class: "nav-container-list-item-link"%>
          </li>
        <% end %>
    </ul>
  </nav>
</header>