<header class="nav" data-turbolinks-permanent>
  <div class="nav-mobile">
      <div class="nav_block">
          <img class="nav-mobile-logo" src="http://res.cloudinary.com/vincent1bt/image/upload/v1452714548/slice1_yaffif.png" alt="Logo de vincentblog" title="Logo del blog" />
          <strong class="nav-mobile-title">Vicente Rodríguez</strong>
      </div>
      <button class="nav-mobile-button" id="navBtn">
        <i class="fa fa-bars fa-lg"></i>
      </button>
  </div>
  <nav class="nav-container">
    <ul class="nav-container-list" id="listMenu">
    	<li class="nav-container-list-item">
    	  <%= link_to "Posts", posts_path, class: "nav-container-list-item-link" %>
    	</li>
    	<li class="nav-container-list-item">
    	  <%= link_to "Categorias", categories_path, class: "nav-container-list-item-link" %>
    	</li>
    	<li class="nav-container-list-item">
    	  <%= link_to "Sobre", sobre_path, class: "nav-container-list-item-link" %>
    	</li>
      <li class="nav-container-list-item">
        <a href="https://twitter.com/vincent1bt" target="blank" title="Link a mi cuenta en twitter" class="nav-container-list-item-link">    Twitter
        </a>
      </li>
      <li class="nav-container-list-item">
        <a href="https://github.com/vincent1bt" target="blank" title="Link a mi cuenta en github" class="nav-container-list-item-link">    Github
        </a>
      </li>
    	<% if logged_in? %>
        <li class="nav-container-list-item">
          <%= link_to @current_user.username, admin_dashboard_index_url, data: { turbolinks: false }, class: "nav-container-list-item-link"%>
        </li>
      <% end %>
      <li class="nav-container-list-item">
        <form action="/buscar" method="get" class="nav-container-list-item-form">
          <input type="search" placeholder="Javascript, ruby, db..." name="search" autocomplete="off"/>
          <input type="submit" value="Buscar"/>
        </form>
      </li>
    </ul>
  </nav>
</header>
